*.swp
*.swo
.python-version
__pycache__/
*.df
*.png
*.pdf
*.root
envs/cmake3
envs/venv_py39_cafpyana/
envs/venv_py310_cafpyana/
envs/xrootd-5.6.1/

envs/xrootd-5.6.9/
envs/local/
envs/logs/
envs/util-linux-2.39.3/
./*.sh
#*
.#
*~
*.ipynb_checkpoints/*
*__init__.py
*jupyterhub.sqlite
jupyterhub_cookie_secret